*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  transition: 0.4s;
  display: flex;
  align-items: center;
  color: var(--primary-500);

  &:hover {
    opacity: 0.8;
  }

  &:active {
    transform: translateY(1px);
  }
}

button {
  all: unset;
  cursor: pointer;
  box-sizing: border-box;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    transform: translateY(1px);
  }
}

button[disabled] {
  cursor: auto;
  
  &:hover {
    opacity: 1;
  }

  &:active {
    transform: none;
  }
}

input,select, ul, li {
  all: unset;
}

input::-webkit-input-placeholder {
  opacity: 0.5;
}

input::-moz-placeholder {
  opacity: 0.5;
}

input:-ms-input-placeholder {
  opacity: 0.5;
}

.nuxt-icon {
  margin-bottom: 0;
}